<div fxLayoutAlign="center stretch">
  <mat-list>
    <mat-list-item *ngFor="let item of itemList" fxLayoutAlign="start stretch">
      <div fxLayout="row">

        <div fxLayoutAlign="start start">
          <mat-checkbox labelPosition="after" [checked]="item.status" (change)="onSendItem(item)">
            {{ item.name }}
          </mat-checkbox>
        </div>

        <div fxLayoutAlign="end start">
          <mat-icon (click)="onSendDeleteItem(item)" fxLayoutAlign="end center">&#xe5cd;</mat-icon>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</div>