
<div fxLayout="column">
  <p class="color-principal font-weight-bold font-size-30-px" fxLayoutAlign="center center" style="margin-top: 2%;">
    Lista de Habilidades
  </p>

  <p class="color-principal font-weight-bold font-size-20-px pointer" [routerLink]="'../todo-list'" fxLayoutAlign="center center">Ir a To do List</p>
</div>


<div fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutAlign="center start">
  <div fxFlex>
    <app-skills-list nameSkills="Frontend" [skillList]="skillsFrontend"></app-skills-list>
  </div>

  <div fxFlex>
    <app-skills-list nameSkills="Backend" [skillList]="skillsBackend"></app-skills-list>
  </div>

  <div fxFlex>
    <app-skills-list nameSkills="Otras" [skillList]="otherSkilss"></app-skills-list>
  </div>

</div>