<div class="loyout" fxLayout="column wrap" fxLayoutGap="15px">

  <div>
    <p id="todo" class="color-principal font-size-20-px">To do List</p>
    <p id="todo" class="color-principal pointer" [routerLink]="'../my-skills'" style="font-size: 15px;">Ir a Habilidades</p>
    <app-form-create-option (sendNewItem)="onGetNewItem($event)" (sendFilter)="onGetFilter($event)">
    </app-form-create-option>


    <p> {{ filter | uppercase }} </p>
    <hr class="line-dotted" />

    <app-item-list [itemList]="itemList" (sendItem)="onGetItem($event)" (sendDeleteItem)="onGetDeleteItem($event)">
    </app-item-list>
  </div>

</div>