<form #formReset>

  <div fxLayout="column wrap">

    <mat-form-field fxFlex appearance="outline">
      <mat-label for="filter">Seleccione un grupo</mat-label>
      <mat-select id="filter" name="filter" [formControl]="filter" (selectionChange)="onSendFilter()">
        <mat-option *ngFor="let option of filterOptions" [value]="option">
          {{ option | uppercase }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex appearance="outline">
      <mat-label for="newItem">Escribe una tarea</mat-label>
      <input matInput id="newItem" name="newItem" [formControl]="newItem">
      <mat-icon matSuffix class="pointer" (click)="onSendNewItem()">&#xe145;</mat-icon>
    </mat-form-field>
  </div>
</form>