<mat-list>

  <div mat-subheader>{{ nameSkills | uppercase }}</div>

  <mat-list-item *ngFor="let skill of skillList">
    <div mat-line class="color-principal font-weight-bold">-{{ skill }}</div>
  </mat-list-item>
</mat-list>
