/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pointer {
  cursor: pointer;
}

.color-principal {
  color: #3a6969;
}

.font-weight-bold {
  font-weight: bold;
}

.font-size-30-px {
  font-size: 30px;
}

.font-size-20-px {
  font-size: 20px;
}

.font-size-10-px {
  font-size: 10px;
}
